<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetdoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetDoc">
        <activity
            android:name=".AddAppointment"
            android:exported="false" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".AppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".doctorSignup"
            android:exported="false" />
        <activity
            android:name=".userSignup"
            android:exported="false" />
        <activity
            android:name=".SiginActivity"
            android:exported="false" />
        <activity
            android:name=".doctorSignupActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>